@model OmegaAgenda.Models.ViewModels.SchedulingFormViewModel

@{
    ViewData["Title"] = "Criar Agendamento";
}

<h2>@ViewData["Title"]</h2>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Scheduling.ProfessionalId" class="control-label">Profissional</label>
                <select asp-for="Scheduling.ProfessionalId" asp-items="@(new SelectList(Model.Professionals,"Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Scheduling.CustomerId" class="control-label">Cliente</label>
                <select asp-for="Scheduling.CustomerId" asp-items="@(new SelectList(Model.Customers,"Id","Name"))" class="form-control"></select>
            </div>
            <div class="form-group">
                <label asp-for="Scheduling.Date" class="control-label">Data</label>
                <input asp-for="Scheduling.Date" class="form-control" />
                <span asp-validation-for="Scheduling.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scheduling.StartTime" class="control-label">Horário de Início</label>
                <input asp-for="Scheduling.StartTime" class="form-control" />
                <span asp-validation-for="Scheduling.StartTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Scheduling.EndTime" class="control-label">Horário de Término</label>
                <input asp-for="Scheduling.EndTime" class="form-control" />
                <span asp-validation-for="Scheduling.EndTime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Agendar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Voltar para Agenda</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
