@model OmegaAgenda.Models.Professional

@{
    ViewData["Title"] = "Detalhes";
}

<h2>@ViewData["Title"]</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>Nome do Profissional:</dt>
        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" class="btn btn-sucess" asp-route-id="@Model.Id">Editar</a>
</div>
<br />
<div>
    <a asp-action="Index">Voltar para lista</a>
</div>
